<nav class=" sticky-top navbar navbar-expand-xl navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-expand-xs navbar-dark" style="background-color:#189be2">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="/">NAV</a>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		<ul class="navbar-nav mr-auto mt-10 mt-lg-0">
			<li class="nav-item active">
				<a class="nav-link" href="/">Home Page<span class="sr-only">(current)</span></a>
			</li>
<!--
			<li class="nav-item">
				<a class="nav-link" href="/overview">Overview</a>
			</li>
-->
			<li class="nav-item">
				<a class="nav-link" href="/camera">Camera</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/environment">Environment</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/temperature">Temperature</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Network
				</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" href="/comingsoon">C17801 @Bessel-Bau-303</a>
				<a class="dropdown-item" href="/comingsoon">C19157</a>
				<a class="dropdown-item" href="/comingsoon">C19158</a>
			</div>
			<li class="nav-item">
				<a class="nav-link" href="/contact">Contact</a>
			</li>
			<!--
			<li class="nav-item">
				<a class="nav-link disabled" href="#">To be continued...</a>
			</li>
			-->
		</ul>
		<!--
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Type in (Deactiveted)..." aria-label="search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		-->
		<ul class="navbar-nav">
		{% if user.is_authenticated %}
            <li class="nav-item active">
				<a class="nav-link" href="/account">{{user.username|title}}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/logout">Logout</a>
			</li>
		{% else %}
            <li class="nav-item">
				<a class="nav-link" href="/login">Login</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/register">Register</a>
			</li>
			
        {% endif %}
        </ul>
	</div>
</nav>
