{% load staticfiles %}
<div class="row" style="background-color:#189be2" >
	<!--照片-->
	<div class="col-sm-2">
		<img src="{% static 'personal/img/PTB.jpg' %}" class="responsive-img" style='max-height:120px; margin-top: 5px; margin-bottom: 5px; margin-left: -5px;' alt="Logo">
	</div>
	<!--标题 -->
	<div class="col-sm-8">
		<br>
		<center>
			<p class="aligncenter text-light font-weight-bold">
			<font size="12" face='Times New Roman'>MPRo Interferometer</font>
			</p>
		</center>
	</div>
	<div class="col-sm-2">
		<img src="{% static 'personal/img/PTB.jpg' %}" class="responsive-img" style='max-height:120px; margin-top: 5px; margin-bottom: 5px; margin-left: -5px;' alt="Logo">
	</div>
</div>
