{% extends "personal/header.html" %}
{% block content %}
{% load staticfiles %}
<div class='row'>
	<div class='col-sm-6'>
		<p class="aligncenter text-light font-weight-bold">
			<font size="5" color=#189be2 face='Times New Roman'>
				C19155 Administrator<hr> 
				Christian Werner
			</font>
			<br>
			<font size="4" color=#189be2 face='Times New Roman'>
				PTB - Physikalisch-Technische Bundesanstalt<br>
				Arbeitsgruppe 5.22 <br>
				Bundesallee 100<br>
				38116 Braunschweig<br>
				Tel.: +49 531 592-5227<br>
			</font>
		</p>
		<hr> 
	</div>
	<div class='col-6'>
		<p class="aligncenter text-light font-weight-bold">
			<font size="5" color=#189be2 face='Times New Roman'>
				Web Administrator<hr>
				Liang Yu
			</font>
			<br>
			<font size="4" color=#189be2 face='Times New Roman'>
				PTB - Physikalisch-Technische Bundesanstalt<br>
				Arbeitsgruppe 5.22 <br>
				Bundesallee 100<br>
				38116 Braunschweig<br>
				Tel.: +49 531 592-5227<br>
			</font>
		</p>
		<hr> 
	</div>
</div>
<!--
{% load static %}
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" type="text/css" />
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
<div class='row'>
	<div class='col-sm-12'>
		<center>
			<p class="aligncenter text-light font-weight-bold">
				<font size="6" color=#189be2 face='Times New Roman'>Demo</font>
			</p>
			{{ the_div|safe }}
			{{ the_script|safe }}
		</center>
	</div>
</div>
-->

<!--
<div class='row'>
	<div class='col-sm-6'>
		<center>
			<p class="aligncenter text-light font-weight-bold">
				<font size="6" color=#189be2 face='Times New Roman'>Demo</font>
			</p>
			{{ the_div|safe }}
			{{ the_script|safe }}
		</center>
	</div>
	<div class='col-sm-6'>
		<center>
			<p class="aligncenter text-light font-weight-bold">
				<font size="6" color=#189be2 face='Times New Roman'>Demo2</font>
			</p>
			{{ server_script|safe }}
		</center>
	</div>
</div>
-->
<br>
{% endblock %}
	

