{% extends "personal/header.html" %}
{% block content %}
{% load staticfiles %}

<div class='row'>
	<div class='col-12'>
		<center>
			<p class="aligncenter text-light font-weight-bold">
				<font size="6" color=#189be2 face='Times New Roman'>
					Welcome to <strong>C19155  </strong>
				</font>
				<font size="5" color=#189be2 face='Times New Roman'>
					  @Bessel-Bau 303 
				</font>
			</p>
			<hr>
			<br>
		</center>
	</div>
</div>

<div class='row'>
	<div class='col-sm-12'>
		<div class="video" style="margin-right:30px; margin-left:auto; width:80%; max-width: 300px">		
			
		</div>
		<hr>
	</div>
	
	
</div>


	
{% endblock %}
	
			
